<div class="contact-add-view">
	<div class="contact-add-form-error"></div>
	<form class="contact-add-form">
		<div class="form-group">
			<label>First Name</label>
			<input type="text" class="contact-add-FirstName">
		</div>
		<div class="form-group">
			<label>Last Name</label>
			<input type="text" class="contact-add-LastName">
		</div>
		<div class="form-group">
			<label>Mobile Number</label>
			<input type="text" class="contact-add-MobileNo">
		</div>
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="contact-add-Email">
		</div>
		<div class="form-group">
			<label>Place of Work</label>
			<input type="text" class="contact-add-PlaceOfWork">
		</div>
		<div class="form-group">
			<label>First Name</label>
			<select class="contact-add-Gender">
				<option value="0">--Select Gender--</option>
				<option value="1">Male</option>
				<option value="2">Female</option>
			</select>
		</div>
		<div><button class="btn btn-primary submit-contact-button">{{savebutton}}</button></div>
	</form>
	<div class="contact-message"></div>
</div>