<div id="login-view">
	<form class="login-form">
		<div class="login-logo"><img src="img/logo-ball.png"></div>
		<h1 class="login-form-title">Sales Portal</h1>
		<h2 class="login-form-subtitle">Login Below</h2>
		<div class="login-error"></div>
		<div class="login-form-form">
			<div class="login-form-input"><input class="login-input login-username" type="text" placeholder="Username"/></div>
			<div class="login-form-input"><input class="login-input login-password" type="password" placeholder="Password"/></div>
			<div class="login-button-holder"><button class="login-button btn btn-primary">Login</button></div>
		</div>
		<div class="login-agent-code">
			<div class="login-form-input"><input class="login-input login-agentcode" type="text" placeholder="Agent Code"/></div>
			<div class="login-button-holder"><button class="continue-button btn btn-primary">Continue</button></div>
		</div>
	</form>
</div>