<li class="mini-cart-item" data-itempos="{{pos}}">
	<div class="row">
		<div class="col-md-2">
			<div class="mini-cart-item-img"><img src="img/{{img}}"></div>
		</div>
		<div class="col-md-8">
			<div class="mini-cart-item-info">
				<div class="mini-cart-item-name">{{name}}</div>
				<div class="mini-cart-item-customer"><span class="mini-cart-item-price">&#8358; {{price}}</span> Customer: {{customer}}</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="mini-cart-action">
				<div class="mini-cart-item-remove"><i class="fa fa-times"></i></div>
				<div class="clear-fix"></div>
			</div>
		</div>
	</div>
</li>