<div class="nav-container">
	<ul class="main-nav-items">
		<a href="#"><li class="main-nav-item active nav-cust-search"><i class="fa fa-search"></i>Customer Search</li></a>
		<a href="#products"><li class="main-nav-item nav-browse"><i class="fa fa-list"></i>Products</li></a>
		<a href="#cart"><li class="main-nav-item nav-cart"><i class="fa fa-shopping-cart"></i>View Cart</li></a>
		<a href="#contact/add"><li class="main-nav-item nav-add-contact"><i class="fa fa-user"></i>Add Contact</li></a>
		<li class="main-nav-item nav-logout"><i class="fa fa-sign-out"></i> Logout</li>
	</ul>
</div>