<div class="quick-result-view">
    <h1 class="quick-result-name">{{quickResult.keepFullName}} <span class="bold">({{quickResult.CustomerNo}})</span></h1>
<!--     <h2 class="quick-result-member">Member Since Feb 2014</h2>
 -->    <div class="quick-result-info">
        <p><span class="bold">Address:</span> {{quickResult.addy}}</p>
        <p><span class="bold">Phone:</span> {{quickResult.PhoneNo}}</p>
        <p><span class="bold">DOB:</span> {{quickResult.bdate}}</p>
        <p><span class="bold">Email:</span> {{quickResult.keepEmail}}</p>
    </div>
    <div class="quick-result-action">
        <button class="btn btn-primary view-full-profile"><i class="fa fa-eye"></i> View Full Profile</button>
        <button class="btn btn-primary edit-policys"><i class="fa fa-pencil-square-o"></i> Edit Policy(s)</button>
        <button class="btn btn-primary add-policys"><i class="fa fa-file-text-o"></i> Add Policy(s)</button>
    </div>
</div>