<div class="search-view">
    <div class="search-view-left">
        <div class="search-bar-container">
            <div class="form-group col-sm-4">
             <div class="input-group merged">
              <input class="form-control customer-search" placeholder="Who are you looking for?">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
             </div>
            </div>
        </div>
        <div class="search-counter-container">
            <p>Showing <span class="result-bold"><span class="results-num">0</span> result(s)</span></p>
        </div>
        <div class="search-results-container">
        </div>
    </div>
    <div class="search-view-right">
        <div class="search-result-title-container"></div>
        <div class="search-quick-result-container">
            <h1 class="temp-search-result">Search and select customer</h1>
            <h1 class="temp-add-cust">or <a href="#customer/add">Add new customer</a></h1>
        </div>
    </div>
    <div class="clear-fix"></div>
</div>